*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input{
    border: 1rem solid red;
    width: 4rem;
    height: 4rem;
}
.text{
    color: rgb(15, 120, 123);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.card-container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width:30rem;
}
button{
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background-color: aqua;
}
